@use './utilities.scss';

body {
    font-family: 'Poppins', sans-serif;
}

.main-content {
    width: calc(100% - 250px);
    /* Full width minus sidebar width */
    // padding: 20px;
    overflow-y: auto;
}

.scroll {
    -ms-overflow-style: none;
    /* Hide scrollbar on Internet Explorer */
    scrollbar-width: none;
}

.cp-nav {
    .nav-link {
        border-radius: 12px;

        &:hover {
            background-color: #3B82F6;
            border-radius: 12px;
            color: #ffff;
        }
    }
}

.cp-table {
    border-collapse: separate;
    border-spacing: 0 .625rem;
    margin-bottom: 0px;
    font-size: 1rem;
    --bs-border-color: #f0f0f0;
    --bs-table-color: #656c73;
    --bs-table-hover-color: #656c73;
    --bs-link-color-rgb: 59, 130, 246;
    --bs-body-color: #656c73;
    ;


    >:not(caption)>*>* {
        --bs-body-font-size: .875rem;
        border-bottom-width: 0;
        text-align: center;

        &:not(:last-child) {
            border-right: 1px solid #828282;
        }

    }

    >:not(thead)>*>* {
        padding: .2rem 2rem;

        &:not(:last-child) {
            border-right: 1px solid #f0f0f0;
        }
    }

    thead {
        --bs-table-bg: #656c73;
        --bs-table-color: #ffffff;

        th {
            font-weight: 400;

            [class^='cp-icon-arrow-up-down'] {
                opacity: 0;
            }

            &:hover {
                [class^='cp-icon-arrow-up-down'] {
                    opacity: 1;
                }
            }
        }

    }

    tr {
        :first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        :last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    tbody {
        --bs-table-bg: #f9f9f9;
        --bs-table-hover-bg: #F0F0F0;
        cursor: pointer;

        th,
        td {
            text-align: center;
            vertical-align: middle;
        }

        // tr{
        // 	&:hover{
        // 		background-color: red !important;
        // 	}
        // }

    }
}

.cp-input-group {
    .input-group-text {
        top: 2px;
        // z-index: 10;
        z-index: 6;
        padding: 0.375rem 0.7rem;
        --bs-tertiary-bg: #fff;
        border-left: 0;
        height: calc(2.6rem + calc(var(--bs-border-width) * 2));
    }

    .form-control {
        padding: 0.516rem 0.75rem;

        &:focus {
            box-shadow: none;
            z-index: auto;
        }

        &::placeholder {
            color: #adb1b5;
            font-size: 1rem;
        }
    }

    &:focus-within {
        .input-group-text {
            border-color: #86b7fe;
        }
    }
}

.input-control {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;

    &:focus {
        border-color: #3B82F6;
    }
}

.login-container {
    max-width: 40rem;
}

.btn-red-light {
    --bs-btn-bg: #fde2e2;
    --bs-btn-color: #f21314;
    --bs-btn-border-color: #fde2e2;
    --bs-btn-hover-bg: #f21314;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-border-color: #f21314;
    --bs-btn-active-bg: #c81e1e;
    --bs-btn-active-border-color: #c81e1e;
    --bs-btn-active-color: #fff;
    padding: 0;
}

.btn-gray {
    --bs-btn-bg: #f0f0f0;
	--bs-btn-color: #656c73;
	--bs-btn-border-color: #f0f0f0;
	--bs-btn-hover-bg: #fafafa;
	--bs-btn-hover-color: #656c73;
	--bs-btn-hover-border-color: #fafafa;
	--bs-btn-active-bg: #f0f0f0;
	--bs-btn-active-color: #656c73;
	--bs-btn-active-border-color: #f0f0f0;
    padding: 0;
}

.btn-gray {
    --bs-btn-bg: #f0f0f0;
    --bs-btn-color: #656c73;
    --bs-btn-border-color: #f0f0f0;
    --bs-btn-hover-bg: #fafafa;
    --bs-btn-hover-color: #656c73;
    --bs-btn-hover-border-color: #fafafa;
    --bs-btn-active-bg: #f0f0f0;
    --bs-btn-active-color: #656c73;
    --bs-btn-active-border-color: #f0f0f0;
    padding: 0;

}

.btn-red {
    --bs-btn-bg: #f21314;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #fde2e2;
    --bs-btn-hover-color: #f21314;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: #c81e1e;
    --bs-btn-active-border-color: #c81e1e;
    --bs-btn-active-color: #fff;
    border: 0;
}
.btn-green-trans-light {
	--bs-btn-bg: transparent;
	--bs-btn-color: #5ed5a8;
	--bs-btn-border-color: transparent;
	--bs-btn-hover-bg: #D9F5EA;
	--bs-btn-hover-color: #5ed5a8;
	--bs-btn-hover-border-color: #D9F5EA;
	--bs-btn-active-bg: #D9F5EA;
	--bs-btn-active-border-color: #D9F5EA;
	--bs-btn-active-color: #5ed5a8;
    padding: 0 !important;
}
.btn-cp-rounded {
    width: 32px;
    height: 32px;
}

.cp-modal {
    --bs-modal-border-radius: 0.75rem;
    --bs-modal-padding: 1.25rem;
    --bs-modal-header-padding: 1.25rem 1.25rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-footer-border-width: 0;

    .modal {
        &-title {
            color: #3f464b;
            font-weight: 600;
        }
    }
}

.cp-badge-tab {
    &.red {
        color: #e74c3c;
        border: 1px solid #e74c3c;
        background: rgba(231, 76, 60, 0.12) !important;
    }

    &.blue {
        color: #3b82f6;
        border: 1px solid #3b82f6;
        background: #dbeafe !important;
    }

    &.green {
        color: #5ed5a8;
        border: 1px solid #5ed5a8;
        background: rgba(94, 213, 168, 0.12) !important;
    }
}

.cp-nav-tabs {
	--bs-nav-tabs-border-width: 0;
	border-bottom: 1px solid #f0f0f0;
	--bs-nav-tabs-link-active-color: #3b82f6;
	--bs-nav-link-hover-color: #3b82f6;
	--bs-nav-link-color: #677489;
	--bs-nav-link-font-weight: 600;
	--bs-nav-tabs-link-hover-border-color: transparent;
	--bs-nav-tabs-link-active-bg: #fff;
	background-color: #fafafa;

	.nav-link {
		border-bottom: 3px solid transparent;
		--bs-nav-tabs-link-active-border-color: #3b82f6;
		--bs-nav-tabs-link-hover-border-color: #3b82f6;
	}
}
.cp-slider{
    height: 400px ;
	.swiper-button-prev,
	.swiper-button-next {
		--swiper-navigation-sides-offset: 0px;
		--swiper-navigation-size: 1rem;
		--swiper-navigation-color: #fff;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-top: auto;
		margin-bottom: auto;
		background-color:#3b82f6;
		display: flex;
		justify-content: center;
		align-items: center;

		&::after{
			background-color: transparent;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
		}
		&:hover {
			--swiper-navigation-color: #fff;
		}

		&:active {
			--swiper-navigation-color: #fff;
		}
	}
	.swiper-pagination-bullet-active{
		--swiper-theme-color: #3b82f6;
		--swiper-pagination-bullet-width: 23px;
		--swiper-pagination-bullet-border-radius: 10px;
	}
}
.doughnut-chart{
    width: 350px !important;
    height: 350px !important;
}