.txt-gray-68{
    color: #656C73;
}
.txt-gray-82{
    color: #3F464B;
}
.bg-gray-5{
    background-color: #FAFAFA;
}
.bg-light-green{
    background-color: #E6F5F9;
}
.bg-light-green-v1{
    background-color: #EFFCEF;
}
.bg-light-blue{
    background-color: #EFF6FC;
}
.bg-light-pink{
    background-color: #ffdcf3;
}
.vh-80{
    height: 80vh;
}
.fs-6-sm{
    font-size: 0.875rem !important;
}
.w-fit-content{
    width: fit-content;
}